[alias]
  clear-branch = !git branch --merged | grep -v '^*' | tr -d ' ' | grep -v '^\\(main\\|master\\|develop\\)$' | xargs git branch -v -d
  # not-an-aardvark/git-delete-squashed is under the MIT License
  # https://github.com/not-an-aardvark/git-delete-squashed/blob/e2c99b6a10343fb2a9310719824972f2f10cd7b7/LICENSE.md
	delete-squashed = "!f() { local targetBranch=${1:-$(git symbolic-ref refs/remotes/origin/HEAD | sed 's|^refs/remotes/origin/||')} && git checkout -q $targetBranch && git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d && git for-each-ref refs/heads/ \"--format=%(refname:short)\" | while read branch; do mergeBase=$(git merge-base $targetBranch $branch) && [[ $(git cherry $targetBranch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == \"-\"* ]] && git branch -D $branch; done; }; f"
  export = !sh -c 'git checkout-index -a -f --prefix=$1/' -
  set-mirror = !git remote set-url --add origin "$(git remote get-url --push origin | sed -e 's/github.com/bitbucket.org/')"
  set-user = !git config --local user.name sasaplus1 && git config --local user.email sasaplus1@gmail.com
  fixup-latest = !sh -c 'git commit --fixup "$(git log -1 --pretty=%H "$1")"' -
  rm-untracked = !git clean -df

[alias]
  amend = commit --amend --reuse-message=HEAD
  cdi = diff --cached
  cdif = diff --cached
  cdiff = diff --cached
  ci = commit -v
  cia = commit -a -v
  cl = log --all --graph --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset) %C(cyan)@%an%C(reset) %C(cyan)@%cn%C(reset)%C(auto)%d%C(reset) %s'
  clog = log --all --graph --date=short --format='%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset) %C(cyan)@%an%C(reset) %C(cyan)@%cn%C(reset)%C(auto)%d%C(reset) %s'
  co = checkout
  cp = cherry-pick
  di = diff
  dif = diff
  fixup = commit --fixup
  gl = log --all --branches --graph
  glog = log --all --branches --graph
  ls = ls-files
  ref = reflog
  recommit = commit --amend --reuse-message=HEAD --date=now
  rci = commit --amend --reuse-message=HEAD --date=now
  sdi = diff --staged
  sdif = diff --staged
  sdiff = diff --staged
  sl = log --all --branches --decorate --graph --oneline
  slog = log --all --branches --decorate --graph --oneline
  squash = commit --squash
  st = status --branch --short

[alias]
  backout = revert
  up = checkout
  update = checkout
  branch-remote = branch -r
  branches = branch -a
  branches-remote = branch -r
  forget = rm -r --cached
  rollback = reset --soft
  showconfig = config --list
  sum = show
  summary = show
  tags = tag
  unstage = reset HEAD --

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[core]
; editor = vim
; editor = $EDITOR
; excludesfile = ~/.gitignore
  fscache = true
  ignorecase = false
  preloadindex = true
  quotepath = false

[diff]
  indentHeuristic = true
  tool = vimdiff

[difftool]
  prompt = false

[github]
  user = sasaplus1

[grep]
  lineNumber = true
  patternType = extended

[merge]
  conflictStyle = merge
; conflictStyle = diff3
; conflictStyle = zdiff3
  tool = vimdiff

[mergetool]
  prompt = false
  keepBackup = true

[user]
  useConfigOnly = true

[interactive]
  diffFilter = delta --color-only 2>/dev/null || cat

[delta]
  file-decoration-style = cyan ul box
  file-style = cyan bold
  keep-plus-minus-markers = true
  line-numbers = true
  side-by-side = true
  whitespace-error-style = 22 reverse

; if you want to use default pager:
; $ git --no-pager [command]
[pager]
  diff = delta 2>/dev/null || cat
; log = delta 2>/dev/null || cat
; reflog = delta 2>/dev/null || cat
  show = delta 2>/dev/null || cat

[push]
  default = nothing

[rebase]
  autosquash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process

;[http]
;  proxy = "proxy:port"

;[url "https://"]
;  insteadOf = git://

[include]
  path = ~/.gitconfig.local

;-------------------------------------------------------------------------------
; ~/.gitconfig.local
;-------------------------------------------------------------------------------
; [includeIf "gitdir:~/.ghq/github.com/"]
;   path = ~/.gitconfig.github.com
;
; # vim:ft=gitconfig:
;-------------------------------------------------------------------------------
; ~/.gitconfig.github.com
;-------------------------------------------------------------------------------
; [user]
;   email = sasaplus1@users.noreply.github.com
;   name = sasaplus1
;
; # vim:ft=gitconfig:
;-------------------------------------------------------------------------------
