name: test

on:
  - push
  - pull_request

jobs:
  deploy-and-test:
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14
          - macos-15
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: rm -f ~/.bash{_logout,_profile,rc} ~/.docker/config.json ~/.gitconfig ~/.profile
      - run: make deploy
      - run: make test
      - run: test "$(make test)" = 'done.'
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: docker://koalaman/shellcheck:stable
        with:
          args: >
            bash/.bash_logout
            bash/.bash_profile
            bash/.bashrc
            bash/.profile
  vint:
    name: vint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.11
      - run: pip install vim-vint
      - run: >
          find vim \( -name '.vimrc*' -or -name '*.vim' \) -print0 |
          xargs -0 vint
