name: test

on:
  - push
  - pull_request

jobs:
  deploy-and-test:
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - macos-15
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: rm -f ~/.bash{_logout,_profile,rc} ~/.docker/config.json ~/.gitconfig ~/.profile
      - run: make deploy
      - run: make test
      - run: test "$(make test)" = 'done.'
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: docker://koalaman/shellcheck:stable@sha256:bb596a0d169b85ddd81d8b6d3a2ff6d5baf5fca10b97f575ebc647c3dff62b3d
        with:
          args: >
            bash/.bashrc.d/interactive
            bash/.bashrc.d/login
            bash/.bashrc.d/logout
            bash/.bashrc.d/path
            bash/.bashrc.d/profile
            bash/.bash_logout
            bash/.bash_profile
            bash/.bashrc
